
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

.color-btn{
background: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.gradient-text {
  background: linear-gradient(to top,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
background-clip:text;           
  color: transparent;             
}
.nav-title h1{
    font-size: 40px;
    font-weight: bolder;
    color: #FFFFFF;
}
.nav-container{
    background-color: #1A0B2E;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    border-bottom: 0.001px solid steelblue;
}
.nav-items ul{
    list-style: none;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    gap: 32px;
}
.btn{
    width: 135px;
    height: 44px;
     background: linear-gradient(to right,#F7E93F 0%, #FB09B4 45%, #9100F8 100%);
     color:#FFFFFF;
     font-size: 16px;
     font-weight: bold;
     border-radius: 20px;
     margin-left: 314px;
}
.nav-title{
    margin-left: 200px;
}
.nav-items{
    margin-left: 314px;
}
.toper {
  width: 100%;
  height: 760px;
  background-image: url('assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.centre{
    margin: 0 auto;
    width: 550px;
    height: 558px;
    justify-content: center;
    position: relative;
}
.centre img{
    padding-left: 80px;
}

.centre{
  display: grid;
  place-items: center; 
  position: relative;
}

.bg {
  grid-area: 1 / 1;
}

.overlay {
  grid-area: 1 / 1; 
}
.top-text{
    width: 600px;
    height: 168px;
    margin: 0 auto;
    text-align: center;
}
.top-text h1{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    padding-left: 50px;
    
}
.top-text p{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 10px;
    justify-content: center;
}
.btn2{
    width: 201px;
    height: 44px;
     background: linear-gradient(to right,#F7E93F 0%, #FB09B4 45%, #9100F8 100%);
     color:#FFFFFF;
     font-size: 16px;
     font-weight: bold;
     border-radius: 20px;
     margin-right: 10px;
}
.subscribe{
    width: 147px;
    height: 44px;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 20px;

}
.top-text button{
margin-top: 15px;
}
.about-container{
    width: 100%;
    height: 646px;
    background-color: #1A0B2E;
    position: relative;
}
.about-title{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
.about-title h1{
    padding-top: 50px;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 16px;
}
.about-title p{
    font-size: 16px;
    line-height: 1.5;
}
.about-about {
    width: 1200px;
    height: 100px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 10px;
}
.heavy{
    font-size: 30px;
    font-weight: bold;
    color: #00FF88;
}
.light{
    font-size: 16px;
    color: #FFFFFF;
}
.line {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 0.1px;
  background: white;
  transform: translateY(-50%);
}

