
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 background-color: #1A0B2E;
}
*{
    margin: 0;
    padding: 0;
}

.color-btn{
background: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.gradient-text {
  background: linear-gradient(to top,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
background-clip:text;           
  color: transparent;             
}
.nav-title h1{
    font-size: 40px;
    font-weight: bolder;
    color: #FFFFFF;
}
.nav-container{
    background-color: #1A0B2E;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    border-bottom: 0.001px solid steelblue;
}
.nav-items ul{
    list-style: none;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    gap: 32px;
}
.btn{
    width: 135px;
    height: 44px;
     background: linear-gradient(to right,#F7E93F 0%, #FB09B4 45%, #9100F8 100%);
     color:#FFFFFF;
     font-size: 16px;
     font-weight: bold;
     border-radius: 20px;
     margin-left: 314px;
}
.nav-title{
    margin-left: 200px;
}
.nav-items{
    margin-left: 314px;
}
.toper {
  width: 100%;
  height: 760px;
  background-image: url('assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.centre{
    margin: 0 auto;
    width: 550px;
    height: 558px;
    justify-content: center;
    position: relative;
}
.centre img{
    padding-left: 80px;
}

.centre{
  display: grid;
  place-items: center; 
  position: relative;
}

.bg {
  grid-area: 1 / 1;
}

.overlay {
  grid-area: 1 / 1; 
}
.top-text{
    width: 600px;
    height: 168px;
    margin: 0 auto;
    text-align: center;
}
.top-text h1{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    padding-left: 50px;
    
}
.top-text p{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 10px;
    justify-content: center;
}
.btn2{
    width: 201px;
    height: 44px;
     background: linear-gradient(to right,#F7E93F 0%, #FB09B4 45%, #9100F8 100%);
     color:#FFFFFF;
     font-size: 16px;
     font-weight: bold;
     border-radius: 20px;
     margin-right: 10px;
}
.subscribe{
    width: 147px;
    height: 44px;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 20px;

}
.top-text button{
margin-top: 15px;
}
.about-container{
    width: 100%;
    height: 646px;
    background-color: #1A0B2E;
    position: relative;
}
.about-title{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
.about-title h1{
    padding-top: 50px;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 16px;
}
.about-title p{
    font-size: 16px;
    line-height: 1.5;
}
.about-about {
    width: 1200px;
    height: 100px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 10px;
}
.heavy{
    font-size: 30px;
    font-weight: bold;
    color: #00FF88;
}
.light{
    font-size: 16px;
    color: #FFFFFF;
}
.line {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 0.1px;
  background: white;
  transform: translateY(-50%);
}
.choose{
    width: 100%;
    height: 1121px;
    background-color: #230E3D;
}
.choose-title h2{
font-size: 48px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
padding-top: 120px;
}
.card-holder{
    display: grid;
    width: 78%;
    height: 783px;
    margin: 40px 200px 120px 200px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
}
.img-icon{
    height: 60px;
    width: 60px;
    padding-left: 40px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
}

.card-para{
    padding-left: 40px;
    color: white;
}
.card-1{
    grid-column: span 1;
    grid-row: span 2;
    
}
.card-1 img{
    margin-top: 118px;
}
.card-2 ,.card-3 ,.card-4 img{
    padding-top: 40px;
}
.card-1 ,.card-2 ,.card-3 ,.card-4{
    border-radius: 20px;
}
.card-1 ,.card-2 ,.card-3 ,.card-4{
    background-color: #280756;
}
.card-2{
    grid-column: span 2;
    grid-row: span 1;
    
}
.card-4{
    grid-column: span 2;
    grid-row: span 1;
    
    height: 273px;
}
.card-3{
    
    grid-column: span 1;
    grid-row: span 1;
    height: 230px;
}
.last{
    background-color: #1A0B2E;
    width: 100%;
    height: 1276px;
}
.episodes{
    width: 79%;
    height: 550px;
    margin: 120px auto;
}
.card-container{
    display: flex;
    gap: 30px;
}
.episodes h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}
.epi-card{
    width: 400px;
    height: 450px;
    position: relative;
    display: inline-block;
    background-color: #210647;
    border-radius: 24px;
}
.epi-card h2{
    font-size: 24px;
    font-weight: bold;
}
.epi-card p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    padding-left: 24px;
}
.clk{
    padding-top: 12px;
    padding-left: 24px;
    display: flex;
}
.host{
    margin: 120px 200px;
}
.finish{
    width: 100%;
    height: 412px;
    background-image: url(assets/footer-bg.png);
}